html {
  box-sizing: border-box;
}

body {
  height: 100%;
  background: rgb(234, 171, 22);
}

.inbox {
  border: 2px solid;
  margin: 50px auto;
  background: white;
  max-width: 400px;
}

.item {
  display: flex;
  align-items: center;
  font-weight: 200;
  border: 1px solid #d1e2ff;
}

input[type="checkbox"] {
  margin: 20px;
}

label {
  margin: 0;
  padding: 20px;
  flex: 1;
  transition: background 0.2s;
  font-family: "helvetica neue";
  font-size: 20px;
  font-weight: 200;
  border-left: 1px solid #d1e2ff;
}

input:checked + label {
  text-decoration: line-through;
  background: #bab6b6;
}
